spring.mvc.pathmatch.matching-strategy=ant_path_matcher
server.port=
#spring.datasource.url=
#spring.datasource.url=
#spring.datasource.username=
#spring.datasource.password=


spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

#spring.datasource.driver-class-name=org.postgresql.Driver



spring.jpa.show-sql=false
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
